.hero-section {
  height: 100vh;
}

.hero-section__slide {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}

#slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1)),
    url(../../public/assets/img/hero/ba8b34f5-fa4a-4ed7-a307-4e884a8caa4c-1920.png);
  background-position: 95% 100%;
}

#slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1)),
    url(../../public/assets/img/hero/gubi-pacha-lounge-chair-swivel-base-view-add14.png);
  background-position: 50% 60%;
}

#slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1)),
    url(../../public/assets/img/hero/EMUS8827828_104_.png);
  background-position: 35% 0%;
}

#slide-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1)),
    url(../../public/assets/img/hero/StayLoungeChair_EpicCoffeeTable_02_036d70e0-9564-44a3-86c2-77ee2f68d91a_640x@2x.progressive.png);
  background-position: 70% 70%;
}

#slide-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1)),
    url(../../public/assets/img/hero/000175740001.png);
  background-position: 50% 60%;
}

.hero-section__text {
  margin: 6rem 3rem;
  color: white;
}

.hero-section__text--header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-section__text--copy {
  color: white;
  margin-top: 0.5rem;
  border: 1px white solid;
  padding: 0.5rem;
}

.hero-section__text--copy:hover,
.hero-section__text--copy:active {
  background-color: white;
  color: black;
  cursor: pointer;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0.5rem !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  border: 1px solid white;
  width: 3rem !important;
  height: 0.25rem !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

@media (min-width: 769px) {
  .hero-section__text--header {
    font-size: 2.5rem;
  }

  .hero-section__text {
    margin: 8rem 6rem;
  }
}

@media (min-width: 1441px) {
  .hero-section__text--header {
    font-size: 3.5rem;
  }

  .hero-section__text {
    margin: 10rem;
  }
}
