.main {
  min-height: calc(100vh - 5.75rem);
  margin-bottom: 10rem;
}

.heading {
  /* margin-top: 5.75rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading__banner--1 {
  height: 50vh;
  width: 100vw;
  background-image: url(../../public/assets/img/banner/scatto2_divanobianco_gubi_dolomia_0-6-post.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 40%;
}

.heading__banner--2 {
  height: 50vh;
  width: 100vw;
  background-image: url(../../public/assets/img/banner/GUBI-Pacha-Pierre-Paulin-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 75%;
}

.heading__banner--3 {
  height: 50vh;
  width: 100vw;
  background-image: url(../../public/assets/img/banner/Olive-Green-Mario-Bellini-BBItalia-Quick-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 82%;
}

.heading__banner--4 {
  height: 50vh;
  width: 100vw;
  background-image: url(../../public/assets/img/banner/epic-coffee-table-large-gubi-furniture-30867799081124.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 67%;
}

.heading__banner--5 {
  height: 50vh;
  width: 100vw;
  background-image: url(../../public/assets/img/banner/limeplasterall.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 70%;
}

.heading__header {
  margin: 5rem 0 3rem 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 71.25rem;
}

.dropdown {
  margin-bottom: 1rem;
}

#filter,
#sort {
  width: 8.25rem;
  border-bottom: 1px black solid;
  margin-left: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-columns: auto;
  margin: 0 auto;
  padding: 1.5rem 0;
  gap: 1.5rem;
  width: 100%;
  max-width: 75rem;
}

.grid__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grid__item--image {
  max-height: 25rem;
}

.grid__item--name-price {
  font-weight: bold;
}

.grid__item--description,
.grid__item--name-price {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-family: monospace;
  max-width: 20rem;
}

/* Media queries */

@media (min-width: 769px) {
  .main {
    min-height: calc(100vh - 9.75rem);
  }

  /* .heading {
    margin-top: 5.75rem;
  } */

  .dropdowns {
    width: 80%;
  }

  .grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1025px) {
  .dropdowns {
    flex-direction: row;
    justify-content: flex-end;
  }

  .dropdown {
    margin-left: 3rem;
  }

  .grid {
    grid-template-columns: repeat(3, auto);
  }
}
